body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.menu{
    height: 8%;
    width: 100%;
    background-color: #66ccff;
    border-bottom: 2px solid #6699ff;
}
#wrap{
    width: 100%;

}
.menu img{
    width: 50px;
    height:50px;
    margin-left: 48%;
    margin-top: 0.3%;
}
#join{
    width:40%;
    font-family:微软雅黑 ;
    font-size:40px;
    margin-left: 40%;
    margin-top: 3%;
}
#register{
    width:50%;
    font-family:微软雅黑;
    margin-left:32%;
    margin-top: 2%;

}
.text1{
    height: 7%;
    width: 74%;
    margin-left: 3%;
    margin-top: 3%;
    border-radius: 8px;
    font-size: 20px;
    font-family: 微软雅黑;
    text-align: left;
    border-color: black;
    border-width: 1px;
    padding-left: 2%;
}
.button{
    margin-right: 20%;
    margin-top: 2%;
    float: right;
    height:10%;
    width: 80%;
    border-radius: 24px;
    background-color: #66ccff;
    border-color: #66ccff;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    -webkit-appearance:none;
}
#button1{
    margin-left: 5%;
    margin-top: 3%;
    font-size: 20px;
    font-family: 微软雅黑;
    text-align: left;
}