<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zust.dao.LikeMapper">
  <resultMap id="BaseResultMap" type="zust.model.Like">
    <id column="like_id" jdbcType="INTEGER" property="likeId" />
    <result column="like_user_id" jdbcType="INTEGER" property="likeUserId" />
    <result column="like_sc_id" jdbcType="INTEGER" property="likeScId" />
  </resultMap>
  <sql id="Base_Column_List">
    like_id, like_user_id, like_sc_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from like
    where like_id = #{likeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from like
    where like_id = #{likeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zust.model.Like">
    insert into like (like_id, like_user_id, like_sc_id
      )
    values (#{likeId,jdbcType=INTEGER}, #{likeUserId,jdbcType=INTEGER}, #{likeScId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="zust.model.Like">
    insert into like
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="likeId != null">
        like_id,
      </if>
      <if test="likeUserId != null">
        like_user_id,
      </if>
      <if test="likeScId != null">
        like_sc_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="likeId != null">
        #{likeId,jdbcType=INTEGER},
      </if>
      <if test="likeUserId != null">
        #{likeUserId,jdbcType=INTEGER},
      </if>
      <if test="likeScId != null">
        #{likeScId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zust.model.Like">
    update like
    <set>
      <if test="likeUserId != null">
        like_user_id = #{likeUserId,jdbcType=INTEGER},
      </if>
      <if test="likeScId != null">
        like_sc_id = #{likeScId,jdbcType=INTEGER},
      </if>
    </set>
    where like_id = #{likeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zust.model.Like">
    update like
    set like_user_id = #{likeUserId,jdbcType=INTEGER},
      like_sc_id = #{likeScId,jdbcType=INTEGER}
    where like_id = #{likeId,jdbcType=INTEGER}
  </update>
</mapper>